In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import pandas as pd
import numpy as np
import networkx as nx
import pickle
import datetime
from gensim.models import word2vec, KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity
from multiprocessing import cpu_count
from pandarallel import pandarallel
import sys

%aimport preprocessing
%aimport utils
%aimport p2v

from utils import prinT
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.options.display.max_columns = None
pd.set_option('max_colwidth', None)

In [3]:
model = p2v.P2V()

2023-09-12 21:32:59 -- start loading Mag_venue_info_df
2023-09-12 21:32:59 -- finish.
2023-09-12 21:32:59 -- start loading labeled_journal_info_df
2023-09-12 21:32:59 -- finish.

In [4]:
def PID2VID(PID: int):
    return model.target_paper_df[model.target_paper_df.PaperID==PID].VenueID.values[0]

In [5]:
model.load_ref_df(full_load=False, start_year=1950, end_year=1959)
target_ref_df = model.target_ref_df.reset_index()
model.load_paper_df(full_load=False, start_year=1950, end_year=1959)

p_ref_df = pd.DataFrame()
pandarallel.initialize()
p_ref_df['citing_VID'] = target_ref_df.PaperID.parallel_apply(PID2VID)
p_ref_df['cited_VID'] = target_ref_df.PaperReferenceID.parallel_apply(PID2VID)

INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [24]:
p_ref_df.loc[:,'citing_venue_name'] = p_ref_df['citing_VID'].apply(lambda x: model.MAG_venue_info_df.at[x, 'OriginalVenue'])
p_ref_df.loc[:,'cited_venue_name'] = p_ref_df['cited_VID'].apply(lambda x: model.MAG_venue_info_df.at[x, 'OriginalVenue'])

In [64]:
venue_name2NID_df = pd.DataFrame(set(list(pd.unique(p_ref_df['citing_venue_name'])) + list(pd.unique(p_ref_df['cited_venue_name']))), 
                                 columns=['venue_name']).reset_index(names='NID').set_index('venue_name')

In [65]:
p_ref_df.loc[:,'citing_NID'] = p_ref_df['citing_venue_name'].apply(lambda x:venue_name2NID_df.at[x, 'NID'])
p_ref_df.loc[:,'cited_NID'] = p_ref_df['cited_venue_name'].apply(lambda x: venue_name2NID_df.at[x, 'NID'])

In [54]:
np.savetxt('test.txt', p_ref_df[['citing_NID', 'cited_NID']].values, fmt='%i')

In [73]:
venue_name2NID_df

                                                                   NID
venue_name
0                                                                    0
McGill medical journal                                               1
Memoirs of the American Mathematical Society                         2
Tribology Transactions                                               3
Czechoslovak Mathematical Journal                                    4
...                                                                ...
Medicinski Glasnik                                                3255
Annals of Human Genetics                                          3256
Japanese Journal of Infectious Diseases                           3257
Annals of tuberculosis                                            3258
Nederlands tijdschrift voor de psychologie en haar grensgebieden  3259

[3260 rows x 1 columns]

In [68]:
venue_name2NID_df.at['Nature', 'NID']

1631

In [69]:
vname2NID_df[vname2NID_df.network_index == 3202]

            network_index
venue_name
Philosophy           3202

In [70]:
vname2NID_df[vname2NID_df.network_index == 2359]

                                network_index
venue_name
Journal of Biblical Literature           2359

In [71]:
vname2NID_df[vname2NID_df.network_index == 35]

                                network_index
venue_name
Pacific Journal of Mathematics             35

In [72]:
vname2NID_df[vname2NID_df.network_index == 307]

                 network_index
venue_name
Botanica Marina            307