In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import pandas as pd
import numpy as np
import pickle

%aimport preprocessing
%aimport utils
%aimport p2v

from utils import prinT

pd.options.display.max_columns = None
pd.set_option('max_colwidth', None)

In [3]:
model = p2v.P2V()

2024-01-12 15:19:13 -- start loading Mag_venue_info_df
2024-01-12 15:19:13 -- finish.
2024-01-12 15:19:13 -- start loading labeled_journal_info_df
2024-01-12 15:19:13 -- finish.

# Utils

In [4]:
def get_neighbor(venue_name):
    VID = model.MAG_venue_info_df[model.MAG_venue_info_df.OriginalVenue==venue_name].index[0]
    tup_list = current_wv.most_similar(positive=VID, topn=3)
    VID_list = [tup[0] for tup in tup_list]
    return [model.MAG_venue_info_df.at[VID, 'OriginalVenue'] for VID in VID_list]

# Periodicals' VID and their names in MAG

In [20]:
model.MAG_venue_info_df[model.MAG_venue_info_df['OriginalVenue'].str.contains('The Imaging Science Journal', na=False, case=False)]

         VenueType                OriginalVenue
VenueID
12054454   Journal  The Imaging Science Journal

# MAG periodicals with Scopus labels

In [248]:
venue_name = 'Web and Social Media'
model.labeled_journal_info_df[(model.labeled_journal_info_df['OriginalVenue'].str.contains(venue_name, case=False))|
(model.labeled_journal_info_df['ScopusName'].str.contains(venue_name, case=False))]

Empty DataFrame
Columns: [VenueType, OriginalVenue, ScopusName, ScopusCategory, InceptionYear]
Index: []

# look up periodicals' neighbors in different decades

In [5]:
start_year_list = ['1950', '1960', '1970', '1980', '1990', '2000', '2010']
end_year_list = ['1959', '1969', '1979', '1989', '1999', '2009', '2021']

In [6]:
def display_neighbors(venue_name, start_year, end_year, k):
    tar_wv = model.load_wv(start_year, end_year, 100, 10)
    VID = model.MAG_venue_info_df[model.MAG_venue_info_df.OriginalVenue==venue_name].index[0]
    tup_list = tar_wv.most_similar(positive=VID, topn=k)
    for tup in tup_list: 
        print (model.MAG_venue_info_df.at[tup[0], 'OriginalVenue'], tup[1])

In [26]:
venue_name = 'Proceedings of The Royal Society B: Biological Sciences'
for i in range(0, len(start_year_list)):
    try: 
        print('------------------')
        print('find neighbors for '+venue_name+' in '+start_year_list[i]+'\'s:')
        display_neighbors(venue_name, start_year_list[i], end_year_list[i], 11)
    except KeyError:
        print("This periodical was not included in the embedding in that decade.")
        pass

------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 1950's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (1645, 100)
Comptes rendus des séances de la Société de biologie et de ses filiales 0.507496178150177
Zoological Journal of the Linnean Society 0.5036610960960388
International Review of Cytology-a Survey of Cell Biology 0.5017346739768982
Transactions of the Royal Society of Edinburgh 0.47009432315826416
Journal of Molluscan Studies 0.4601193964481354
Botanical Journal of the Linnean Society 0.4559434652328491
Entomologia Experimentalis Et Applicata 0.4517219662666321
The Social Studies 0.44672641158103943
Journal of Cellular and Comparative Physiology 0.4429073929786682
The Journal of Experimental Biology 0.44188952445983887
Population Ecology 0.43525776267051697
------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 1960's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (3116, 100)
Journal of Cell Science 0.5659183263778687
Nature 0.5272859930992126
Tissue & Cell 0.4993470311164856
Symposia of the Society for Experimental Biology 0.49060025811195374
European Journal of Phycology 0.48481911420822144
Philosophical Transactions of the Royal Society B 0.48249396681785583
Journal of Molluscan Studies 0.47601497173309326
Biological Reviews 0.4748932719230652
Experimental Cell Research 0.46760040521621704
Experientia. Supplementum 0.4659595787525177
Indian journal of biochemistry 0.465193510055542
------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 1970's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (5686, 100)
Philosophical Transactions of the Royal Society B 0.5661106705665588
Current Topics in Developmental Biology 0.5320894122123718
The Journal of Experimental Biology 0.5198617577552795
Botanical Journal of Scotland 0.515706479549408
Fish Physiology 0.5062366724014282
Journal of the Marine Biological Association of the United Kingdom 0.5052244067192078
Scottish Journal of Geology 0.5019884705543518
Journal of Cell Science 0.49999573826789856
Acta biologica Academiae Scientiarum Hungaricae 0.49805110692977905
Nature 0.4965112805366516
Progress in Biophysics & Molecular Biology 0.49447810649871826
------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 1980's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (9337, 100)
International Journal of Computer Vision 0.6383904814720154
Botanical Journal of Scotland 0.5902886986732483
Journal of Machine Vision and Applications 0.5781349539756775
Connection Science 0.5749839544296265
Spatial Vision 0.5714918375015259
international conference on computer vision 0.5533526539802551
computer vision and pattern recognition 0.5500296950340271
alvey vision conference 0.549862265586853
Forestry 0.5256525278091431
Irish Naturalists' Journal 0.522148072719574
Neural Computation 0.5204706788063049
------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 1990's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (15019, 100)
Ecology Letters 0.6797353029251099
Trends in Ecology and Evolution 0.6737972497940063
Philosophical Transactions of the Royal Society B 0.654909074306488
Evolutionary Ecology Research 0.647439181804657
Ethology 0.6293478608131409
Journal of the Bombay Natural History Society 0.6113489270210266
International Journal of Odonatology 0.608503520488739
The American Naturalist 0.6002042293548584
Biological Reviews 0.5968130826950073
Animal Conservation 0.5959925651550293
Behavioral Ecology 0.5948442220687866
------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 2000's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (27460, 100)
Biology Letters 0.8656954765319824
The American Naturalist 0.8501908779144287
Trends in Ecology and Evolution 0.8479302525520325
Journal of Evolutionary Biology 0.8177262544631958
Ecology Letters 0.8094783425331116
Journal of Animal Ecology 0.8066937327384949
Behavioral Ecology and Sociobiology 0.7981886863708496
Animal Behaviour 0.7929462790489197
Behavioral Ecology 0.7927024364471436
Evolutionary Ecology Research 0.792133629322052
Evolution 0.7882575988769531
------------------
find neighbors for Proceedings of The Royal Society B: Biological Sciences in 2010's:
2024-01-19 15:54:51 -- start loading word vectors...
2024-01-19 15:54:51 -- word vectors loaded, and its shape is: (37594, 100)
Biology Letters 0.8852147459983826
Journal of Evolutionary Biology 0.8404346704483032
Evolution 0.8334667682647705
The American Naturalist 0.8162181377410889
Biological Reviews 0.8080648183822632
Behavioral Ecology 0.7955849766731262
Trends in Ecology and Evolution 0.7874213457107544
Evolutionary Ecology 0.7858687043190002
Frontiers in Ecology and Evolution 0.7756537199020386
Journal of Animal Ecology 0.7706140279769897
Behavioral Ecology and Sociobiology 0.7647204995155334

# Look up periodicals' papers (Paper_detialed_df)

In [17]:
with open('/media/sdb/p2v/pickles/paper_detailed.pkl', 'rb') as file:
    model.paper_detailed_df = pickle.load(file)

In [19]:
venue_name = 'Database'
start_year = '1990'
end_year = '1999'

print("total number of papers:", len(model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].OriginalVenue==venue_name)]))
model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].
                                              OriginalVenue==venue_name)].sort_values('CitationCount', ascending=False).head(10)

total number of papers: 859

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1992-01-01,2251843513,0,Journal,an introduction to geographic information systems linking maps to databases,5986019,0,0,98,Database,5986019
1992-01-01,2999636323,10.5555/135779.135781,Journal,an introduction to geographic information systems,5986019,0,0,38,Database,5986019
1999-01-01,2993253906,0,Journal,librarians as knowledge management agents,5986019,0,0,36,Database,5986019
1994-01-01,143070122,0,Journal,adventures with the world wide web creating a hypertext library information system,5986019,0,2,35,Database,5986019
1993-01-01,30281716,0,Journal,the online journal of current clinical trials an innovation in electronic journal publishing,5986019,0,0,25,Database,5986019
1992-01-01,123357955,0,Journal,information manufacturing the road to database quality,5986019,0,0,19,Database,5986019
1992-01-01,2489667996,0,Journal,campaign 92 the campaign library from mead data central,5986019,0,0,19,Database,5986019
1999-01-01,2471229882,0,Journal,knowledge management in the library not,5986019,0,0,16,Database,5986019
1992-01-01,1525851796,0,Journal,an introduction to geographic information systems linking maps to databases and maps for the rest of us affordable and fun,5986019,0,0,16,Database,5986019
1996-01-01,267501866,0,Journal,robot generated databases on the world wide web,5986019,0,0,15,Database,5986019

In [147]:
VID = 61274580
start_year = '1990'
end_year = '1999'

print("total number of papers:", len(model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].VenueID==VID)]))
model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].
                                              VenueID==VID)].sort_values('CitationCount', ascending=False).head(10)

total number of papers: 1

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1991-01-01,2498079382,0,Journal,comparative intergenerational stratification research,61274580,0,0,23,Annual Review of Sociology,61274580

In [34]:
focal_paper_list = model.paper_detailed_df[start_year:end_year][model.paper_detailed_df[start_year:end_year].OriginalVenue==venue_name].PaperID.to_list()

# Look up citation trail (random walks)

In [ ]:
focal_walks = []
vid = get_vid('English')
for walk in model.walks:
    if vid in walk:
        focal_walks.append(walk)

In [ ]:
focal_walks

In [ ]:
VID_list = [67764474.0, 67764474.0, 67764474.0, 86431830.0]
[model.MAG_venue_info_df.at[VID,'OriginalVenue'] for VID in VID_list]

# Loop up MAG reference records (ref.pkl)

In [65]:
start_year=1980
end_year=1989

In [31]:
model.load_ref_df(full_load=False, start_year, end_year)

2023-11-08 12:25:48 -- start loading 'ref_df'...
2023-11-08 12:25:49 -- finish.

In [63]:
for paper_ID in focal_paper_list:
    if len(model.target_ref_df[model.target_ref_df.PaperReferenceID == paper_ID]) !=0:
        display(model.target_ref_df[model.target_ref_df.PaperReferenceID == paper_ID])

            PaperReferenceID
PaperID
1491928743        2315189172

            PaperReferenceID
PaperID
2781934296        2319931332

            PaperReferenceID
PaperID
13075566          2328347537
265484110         2328347537
1971602878        2328347537
1981137724        2328347537
1983500773        2328347537
1987161240        2328347537
1993474485        2328347537
2008987134        2328347537
2023797625        2328347537
2032477839        2328347537
2041315294        2328347537
2072789053        2328347537
2074532107        2328347537
2100069266        2328347537
2100107434        2328347537
2322475871        2328347537

            PaperReferenceID
PaperID
2782136301        2313988925

            PaperReferenceID
PaperID
2781947361        2315566305

            PaperReferenceID
PaperID
2782425643        2333737838

            PaperReferenceID
PaperID
2164128878        2014411277

In [85]:
model.paper_detailed_df[model.paper_detailed_df.PaperID==2328347537]

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1984-01-01,2328347537,10.1093/ENGLISH/33.147.263,Journal,a text book,86431830,0,0,177,English,86431830

In [95]:
model.paper_detailed_df[model.paper_detailed_df.PaperID==1987161240]

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1984-01-01,1987161240,10.1007/BF02166795,Journal,solvent effects on the37cl n γ 38cl reaction products of some solid chlorobenzene derivatives,63023845,0,6,4,Journal of Radioanalytical and Nuclear Chemistry,63023845