In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import pandas as pd
import numpy as np
import pickle

%aimport preprocessing
%aimport utils
%aimport p2v

from utils import prinT

pd.options.display.max_columns = None
pd.set_option('max_colwidth', None)

In [3]:
model = p2v.P2V()

2024-08-16 23:54:30 -- start loading Mag_venue_info_df
2024-08-16 23:54:30 -- finish.
2024-08-16 23:54:30 -- start loading labeled_journal_info_df
2024-08-16 23:54:30 -- finish.

# Utils

In [4]:
def get_neighbor(venue_name):
    VID = model.MAG_venue_info_df[model.MAG_venue_info_df.OriginalVenue==venue_name].index[0]
    tup_list = current_wv.most_similar(positive=VID, topn=3)
    VID_list = [tup[0] for tup in tup_list]
    return [model.MAG_venue_info_df.at[VID, 'OriginalVenue'] for VID in VID_list]

# Periodicals' VID and their names in MAG

In [6]:
model.MAG_venue_info_df[model.MAG_venue_info_df['OriginalVenue'].str.contains('lancet', na=False, case=False)]

           VenueType                             OriginalVenue
VenueID
49861241     Journal                                The Lancet
2764550674   Journal                        The Journal-lancet
2755881581   Journal           The Lancet Respiratory Medicine
116900674    Journal                           Lancet Oncology
70053155     Journal                          Lancet Neurology
23772524     Journal                Lancet Infectious Diseases
2531556786   Journal                     The Lancet Psychiatry
2530754266   Journal                  The Lancet Global Health
2529869117   Journal       The Lancet Diabetes & Endocrinology
2530914053   Journal  The Lancet Gastroenterology & Hepatology
2531671668   Journal                    The Lancet Haematology
2531945440   Journal                            The Lancet HIV
2764808104   Journal                 The Lancet. Public health
2898345135   Journal      The Lancet Child & Adolescent Health
2898182138   Journal               The Lancet Planetary Health

# MAG periodicals with Scopus labels

In [248]:
venue_name = 'Web and Social Media'
model.labeled_journal_info_df[(model.labeled_journal_info_df['OriginalVenue'].str.contains(venue_name, case=False))|
(model.labeled_journal_info_df['ScopusName'].str.contains(venue_name, case=False))]

Empty DataFrame
Columns: [VenueType, OriginalVenue, ScopusName, ScopusCategory, InceptionYear]
Index: []

# look up periodicals' neighbors in different decades

In [5]:
start_year_list = ['1950', '1960', '1970', '1980', '1990', '2000', '2010']
end_year_list = ['1959', '1969', '1979', '1989', '1999', '2009', '2021']

In [6]:
def display_neighbors(venue_name, start_year, end_year, k):
    tar_wv = model.load_wv(start_year, end_year, 100, 10)
    VID = model.MAG_venue_info_df[model.MAG_venue_info_df.OriginalVenue==venue_name].index[0]
    tup_list = tar_wv.most_similar(positive=VID, topn=k)
    for tup in tup_list: 
        print (model.MAG_venue_info_df.at[tup[0], 'OriginalVenue'], tup[1])

In [7]:
venue_name = 'Cognitive Science'
for i in range(0, len(start_year_list)):
    try: 
        print('------------------')
        print('find neighbors for '+venue_name+' in '+start_year_list[i]+'\'s:')
        display_neighbors(venue_name, start_year_list[i], end_year_list[i], 11)
    except KeyError:
        print("This periodical was not included in the embedding in that decade.")
        pass

------------------
find neighbors for Cognitive Science in 1950's:
2024-08-17 00:02:21 -- start loading word vectors...
2024-08-17 00:02:21 -- word vectors loaded, and its shape is: (1645, 100)
This periodical was not included in the embedding in that decade.
------------------
find neighbors for Cognitive Science in 1960's:
2024-08-17 00:02:21 -- start loading word vectors...
2024-08-17 00:02:21 -- word vectors loaded, and its shape is: (3116, 100)
This periodical was not included in the embedding in that decade.
------------------
find neighbors for Cognitive Science in 1970's:
2024-08-17 00:02:21 -- start loading word vectors...
2024-08-17 00:02:21 -- word vectors loaded, and its shape is: (5686, 100)
theoretical issues in natural language processing 0.9118545055389404
meeting of the association for computational linguistics 0.9089255332946777
Intelligence\/sigart Bulletin 0.8673630952835083
Discourse Processes 0.8538486957550049
artificial intelligence and the simulation of behaviour 0.8250986337661743
international joint conference on artificial intelligence 0.8048688173294067
international conference on computational linguistics 0.7954285144805908
ACM Sigcue Outlook 0.792285680770874
ACM Sigcse Bulletin 0.7855332493782043
Computer Music Journal 0.7749937772750854
Syntax and Semantics 0.7653523683547974
------------------
find neighbors for Cognitive Science in 1980's:
2024-08-17 00:02:21 -- start loading word vectors...
2024-08-17 00:02:21 -- word vectors loaded, and its shape is: (9337, 100)
conference cognitive science 0.7879234552383423
contemporary Psychology 0.747115969657898
Artificial Intelligence Review 0.7382481098175049
artificial intelligence in education 0.7335295081138611
intelligent tutoring systems 0.7190054059028625
international symposium on artificial intelligence 0.7173181176185608
Connection Science 0.7082772254943848
national conference on artificial intelligence 0.7031872272491455
Ai Communications 0.6993083953857422
Functional differential equations 0.6927779316902161
theoretical issues in natural language processing 0.6905222535133362
------------------
find neighbors for Cognitive Science in 1990's:
2024-08-17 00:02:21 -- start loading word vectors...
2024-08-17 00:02:22 -- word vectors loaded, and its shape is: (15019, 100)
Advances in psychology 0.765642523765564
Cognition 0.7201870083808899
Connection Science 0.7144477367401123
german workshop on artificial intelligence 0.7104052901268005
conference cognitive science 0.7034493684768677
Attention and Performance 0.6878553032875061
Bilingualism: Language and Cognition 0.6826669573783875
Pragmatics & Cognition 0.6754028797149658
international conference on user modeling adaptation and personalization 0.6738124489784241
The Philosophical Review 0.6625397801399231
european conference on cognitive ergonomics 0.6601549386978149
------------------
find neighbors for Cognitive Science in 2000's:
2024-08-17 00:02:22 -- start loading word vectors...
2024-08-17 00:02:22 -- word vectors loaded, and its shape is: (27460, 100)
conference cognitive science 0.819929301738739
Topics in Cognitive Science 0.7856613993644714
Cognitive Systems Research 0.7547609210014343
Cognition 0.7493392825126648
Journal of Experimental Psychology: Learning, Memory and Cognition 0.743962824344635
Psychonomic Bulletin & Review 0.7419653534889221
Psychology of Language and Communication 0.7411777973175049
Psychology of Learning and Motivation 0.7372473478317261
Memory & Cognition 0.7360856533050537
Psychological Science 0.733694314956665
Interaction Studies 0.7320157289505005
------------------
find neighbors for Cognitive Science in 2010's:
2024-08-17 00:02:22 -- start loading word vectors...
2024-08-17 00:02:22 -- word vectors loaded, and its shape is: (37594, 100)
conference cognitive science 0.8887397050857544
Cognition 0.8852807879447937
Cognitive Psychology 0.8754539489746094
Topics in Cognitive Science 0.8654724955558777
Open Mind 0.8472738862037659
Journal of Memory and Language 0.8250322341918945
Quarterly Journal of Experimental Psychology 0.8205199837684631
Psychology of Learning and Motivation 0.8065249919891357
Journal of Experimental Psychology: General 0.803163468837738
Mind & Language 0.8011747002601624
Memory & Cognition 0.7993271946907043

# Look up periodicals' papers (Paper_detialed_df)

In [17]:
with open('/media/sdb/p2v/pickles/paper_detailed.pkl', 'rb') as file:
    model.paper_detailed_df = pickle.load(file)

In [19]:
venue_name = 'Database'
start_year = '1990'
end_year = '1999'

print("total number of papers:", len(model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].OriginalVenue==venue_name)]))
model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].
                                              OriginalVenue==venue_name)].sort_values('CitationCount', ascending=False).head(10)

total number of papers: 859

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1992-01-01,2251843513,0,Journal,an introduction to geographic information systems linking maps to databases,5986019,0,0,98,Database,5986019
1992-01-01,2999636323,10.5555/135779.135781,Journal,an introduction to geographic information systems,5986019,0,0,38,Database,5986019
1999-01-01,2993253906,0,Journal,librarians as knowledge management agents,5986019,0,0,36,Database,5986019
1994-01-01,143070122,0,Journal,adventures with the world wide web creating a hypertext library information system,5986019,0,2,35,Database,5986019
1993-01-01,30281716,0,Journal,the online journal of current clinical trials an innovation in electronic journal publishing,5986019,0,0,25,Database,5986019
1992-01-01,123357955,0,Journal,information manufacturing the road to database quality,5986019,0,0,19,Database,5986019
1992-01-01,2489667996,0,Journal,campaign 92 the campaign library from mead data central,5986019,0,0,19,Database,5986019
1999-01-01,2471229882,0,Journal,knowledge management in the library not,5986019,0,0,16,Database,5986019
1992-01-01,1525851796,0,Journal,an introduction to geographic information systems linking maps to databases and maps for the rest of us affordable and fun,5986019,0,0,16,Database,5986019
1996-01-01,267501866,0,Journal,robot generated databases on the world wide web,5986019,0,0,15,Database,5986019

In [147]:
VID = 61274580
start_year = '1990'
end_year = '1999'

print("total number of papers:", len(model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].VenueID==VID)]))
model.paper_detailed_df[start_year:end_year][(model.paper_detailed_df[start_year:end_year].
                                              VenueID==VID)].sort_values('CitationCount', ascending=False).head(10)

total number of papers: 1

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1991-01-01,2498079382,0,Journal,comparative intergenerational stratification research,61274580,0,0,23,Annual Review of Sociology,61274580

In [34]:
focal_paper_list = model.paper_detailed_df[start_year:end_year][model.paper_detailed_df[start_year:end_year].OriginalVenue==venue_name].PaperID.to_list()

# Look up citation trail (random walks)

In [ ]:
focal_walks = []
vid = get_vid('English')
for walk in model.walks:
    if vid in walk:
        focal_walks.append(walk)

In [ ]:
focal_walks

In [ ]:
VID_list = [67764474.0, 67764474.0, 67764474.0, 86431830.0]
[model.MAG_venue_info_df.at[VID,'OriginalVenue'] for VID in VID_list]

# Loop up MAG reference records (ref.pkl)

In [65]:
start_year=1980
end_year=1989

In [31]:
model.load_ref_df(full_load=False, start_year, end_year)

2023-11-08 12:25:48 -- start loading 'ref_df'...
2023-11-08 12:25:49 -- finish.

In [63]:
for paper_ID in focal_paper_list:
    if len(model.target_ref_df[model.target_ref_df.PaperReferenceID == paper_ID]) !=0:
        display(model.target_ref_df[model.target_ref_df.PaperReferenceID == paper_ID])

            PaperReferenceID
PaperID
1491928743        2315189172

            PaperReferenceID
PaperID
2781934296        2319931332

            PaperReferenceID
PaperID
13075566          2328347537
265484110         2328347537
1971602878        2328347537
1981137724        2328347537
1983500773        2328347537
1987161240        2328347537
1993474485        2328347537
2008987134        2328347537
2023797625        2328347537
2032477839        2328347537
2041315294        2328347537
2072789053        2328347537
2074532107        2328347537
2100069266        2328347537
2100107434        2328347537
2322475871        2328347537

            PaperReferenceID
PaperID
2782136301        2313988925

            PaperReferenceID
PaperID
2781947361        2315566305

            PaperReferenceID
PaperID
2782425643        2333737838

            PaperReferenceID
PaperID
2164128878        2014411277

In [85]:
model.paper_detailed_df[model.paper_detailed_df.PaperID==2328347537]

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1984-01-01,2328347537,10.1093/ENGLISH/33.147.263,Journal,a text book,86431830,0,0,177,English,86431830

In [95]:
model.paper_detailed_df[model.paper_detailed_df.PaperID==1987161240]

,PaperID,Doi,DocType,PaperTitle,JournalID,ConferenceSeriesID,ReferenceCount,CitationCount,OriginalVenue,VenueID
Year,,,,,,,,,,
1984-01-01,1987161240,10.1007/BF02166795,Journal,solvent effects on the37cl n 38cl reaction products of some solid chlorobenzene derivatives,63023845,0,6,4,Journal of Radioanalytical and Nuclear Chemistry,63023845